html {
    background-image: url(Imagenes/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header ----------------------------------- */

header{
    display: flex;
    height: 13vh;
    align-items: center;
}

.nombrePagina1 , .nombrePagina2{
    color: rgb(102, 0, 255, 0.5);
    font-size: 2.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    ;
}
.nombrePagina2{
    color: rgb(230,222,0,.75)
}

.fa-lock{
    color: rgb(230,222,0,.75);
    margin-left: 5px;
}

/* main ---------------------------------------------------------- */

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 74vh;
    justify-content: space-around;
}

.area-izquierda {
    resize: none;
    width: 40vw;
    height: 60vh;
    border-radius: 20px;
    padding: 1rem;
    background-color: rgb(147,76,255,0.5);
    color: white;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.area-derecha {
    align-self: flex-end;
    width: 30vw;
    height: 60vh;
    border-radius: 20px;
    padding: 1rem;
    background-color: rgb(147,76,255,0.5);
    color: white;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}





/* Aqui empieza el estilo del footer*/

footer{
    display: flex;
    height: 13vh;

}

.boxLogos{
    display: flex;
    width: 15%;
    align-items: center;
    flex: auto;
}

.logoFooter{
    flex: auto;
    width: 30%;
    height: 40%;
    margin: 10px;
}

.slogan{
    display: inline-block;
    width: 45%;
    font-size: 1.5rem;
    color: white;
    position: relative;
    top: 30%;
    left: 2rem;
    height: 2rem;
    flex: auto;
}

.infoFooter{
    display: flex;
    width: 10%;
    font-size: 1.5rem;
    color: white;
    flex: auto;
    align-items: center;
    padding-left: 6%;
}

.redes{
    width: 15%;
    flex: auto;
    position: relative;
    right: 0%;
    padding-left: 5%;
}

.sigueme{
    color: white;
    font-size: 1rem;
    
}

