#background{
    background-image: url(Imagenes/background.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

header{
    display: flex;
    width: 100vw;
    height: 15vh;
    align-items: center;
}

.nombrePagina1 , .nombrePagina2{
    color: rgb(102, 0, 255, 0.5);
    font-size: 2.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    ;
}
.nombrePagina2{
    color: rgb(230,222,0,.75)
}

.fa-lock{
    color: rgb(230,222,0,.75);
    margin-left: 5px;
}



/* Aqui empieza el estilo del footer*/

footer{
    display: flex;
    width: 100%;
    height: 20vh;
    max-height: 15%;

}

.boxLogos{
    display: flex;
    width: 15%;
    align-items: center;
    flex: auto;
}

.logoFooter{
    flex: auto;
    width: 30%;
    height: 40%;
    margin: 10px;
}

.slogan{
    display: inline-block;
    width: 45%;
    font-size: 1.5rem;
    color: white;
    position: relative;
    top: 30%;
    left: 2rem;
    height: 2rem;
    flex: auto;
}

.infoFooter{
    display: flex;
    width: 10%;
    font-size: 1.5rem;
    color: white;
    flex: auto;
    align-items: center;
    padding-left: 6%;
}

.redes{
    width: 15%;
    flex: auto;
    position: relative;
    right: 0%;
    padding-left: 5%;
}

.sigueme{
    color: white;
    font-size: 1rem;
    
}

